/* Input  */ 
#user-input {
    display: block;
    margin: 17px 84% 3px 16.4%; /* top right bottom left */
    width: 45%;       
    border: none;    
    border-bottom: 2px solid gray;
    padding-left: 2px;    
    font-size: 1.2rem;
    font-family: 'Roboto', monospace;
    background: none;  
    color: #222;      
    text-align: left;
  }
  
  #user-input:focus {
    outline: none;    
    border-bottom: 2px solid #222;
    color: #222;
    border-color: #237980;
  }
  
  #user-input::placeholder {
    color: #8d8d8d;
    font-style: italic; 
  }
  
  /* Estimated time */
  .time-input {
    width: 40px;
    padding: 5px;
    padding-left: 10px;
    font-family: 'Roboto', monospace;
    font-size: 0.9rem;
    border-radius: 4px;
    border: 2px solid #ccc;
    text-align: left;
    margin-left: 10px;
  }

  .time-input:focus {
    border-color: #237980; 
  }

  /* Number input and hrs label */
  .time-container {
    display: flex;
    align-items: center;
    gap: 5px; 
  }

  .title-input {
    width: 70%;
    padding: 8px;
    font-family: 'Roboto', monospace;
    font-size: 1rem;
    border-radius: 4px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    align-items: left;
  }
  
  .title-input:focus {
    outline: none;
    text-align: left;
    border-color: #237980; 
  }
  
  