/* Task list container */
.task-list {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  /* Task items */
  .task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto -4px; 
    border-bottom: 4px solid gray;
    border-top: 4px solid gray;
    background-color: transparent; 
    width: 80%; 
    border-radius: 0%;
    font-family: 'Roboto', monospace;
  }
  
  /* Circular checkboxes */
  .task-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    appearance: none;
    margin-right: 10px;
    border: 3px solid gray;
    flex-shrink: 0;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  /* Work checkbox */
  .task-checkbox.work {
    background-color: transparent;
    border-color: #ee5f76; 
  }
  
  .task-checkbox.work:checked {
    background-color: #ee5f76; 
  }
  
  /* Personal checkbox */
  .task-checkbox.personal {
    background-color: transparent;
    border-color: #9560d4; 
  }
  
  .task-checkbox.personal:checked {
    background-color: #9560d4; 
  }
  
  /* Task name styling */
  .task-name {
    flex-grow: 1;
    font-size: 1.3rem;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Roboto', monospace; 
    font-weight: normal;  
    margin: 3px;
  }
  
  .task-name:hover {
    color: gray; 
  }
  
  /* Task category styling */
  .task-category {
    flex-basis: 70%;
    text-align: center;
    color: #555;
    font-size: 0.9rem;
    font-family: 'Roboto', monospace; 
  }
  