/* Task list container */
.task-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  max-height: 600px; 
  flex-grow: 1; 
  overflow-y: auto; 
  overflow-x: hidden; 
  width: 80%; 
  }
  
  /* Task items */
  .task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto -4px; 
    border-bottom: 4px solid gray;
    border-top: 4px solid gray;
    background-color: transparent; 
    width: 100%; 
    border-radius: 0%;
    font-family: 'Roboto', monospace;
  }
  
  .task-time {
    font-family: 'Roboto', monospace;
    font-size: 0.93rem;
    padding-top: 10px;
    margin-bottom: -10px;
    color: black;
  }

  /* Checkboxes */
  .task-checkbox {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    appearance: none;
    margin-right: 15px;
    margin-left: 10px;
    border: 3px solid gray;
    flex-shrink: 0;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  /* Work checkbox */
  .task-checkbox.work {
    border-color: #ee5f76; 
    background-color: #ffe4fa;
  }
  
  .task-checkbox.work:checked {
    background-color: #ee5f76; 
  }
  
  /* Personal checkbox */
  .task-checkbox.personal {
    background-color: #dfc5fe;
    border-color: #9560d4; 
  }
  
  .task-checkbox.personal:checked {
    background-color: #9560d4; 
  }
  
  /* Task name styling */
  .task-name {
    flex-grow: 1;
    font-size: 1.2rem;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Roboto', monospace; 
    font-weight: normal;  
    margin: 3px;
  }
  
  .task-name:hover {
    color: gray; 
  }
  
  /* Task category styling */
  .task-category {
    flex-basis: 70%;
    text-align: center;
    color: black;
    font-size: 0.88rem;
    font-family: 'Roboto', monospace; 
  }

  .category-bg {
    padding: 0px 7px; 
    border-radius: 16px; 
    width: fit-content; 
    display: inline-block; 
    text-align: center; 
    border: 3px solid gray;
    background-color: #f0f0f0; 
  }
  
  .category-bg.work {
    background-color: #ffe4fa; 
    border-color: #ee5f76; 
  }

  .category-bg.personal {
    background-color: #dfc5fe;
    border-color: #9560d4; 
  }